{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Ajax main{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <script src="{% static 'js/javascript.js' %}"></script>
</head>
<body>

{% block content %}
<h1>Ajax!</h1>

{% if user.is_authenticated %}
    <a href="logout">Exit({{user.username}})</a>
{% else %}
    <a href="register">Registry on site</a>
    <a href="login">Authorisation on site</a>
{% endif %}
<div class="block-login">{% block login %} {% endblock %}</div>

{% if user.is_authenticated %}

<table id = 'table_id' border = '1' cellpadding="5px">
    <tr style = 'background : pink; color: black;'>
        <td>Имя</td>
        <td>Фамилия</td>
        <td>Дата рождения</td>
        <td>Компания</td>
        <td>Должность</td>
        <td>Язык программирования</td>
        <td>Зарплата</td>
       </tr>
{% for elem in humans %}
    <tr>
        <td>{{elem.name}}</td>
        <td>{{elem.surname}}</td>
        <td>{{elem.birth}}</td>
        <td>{{elem.company}}</td>
        <td>{{elem.position}}</td>
        <td>{{elem.language}}</td>
        <td>{{elem.salary}}</td>
    </tr>
{% endfor %}
</table>

  <form id = 'add-human' action="add-human/" method = 'post'>
      {% csrf_token %}
        {% for field in human_form %}
        <label for="">{{field.label}}</label>
        <div>{{field}}</div>
        {% endfor %}
        <button type = 'submit'>Add to table</button>
    </form>
<a href = 'show_all' id = 'show_all' >Show all Humans</a>
<a href = 'close_all' id = 'close_all' >Close all Humans</a>
{% endif %}

{% endblock %}
</body>
</html>