{% extends 'third_app/index.html' %}

{% block title %}Batman car{% endblock %}

{% block body %}
<h1 align="center">Batman car</h1>
<img width="380px" class="body_img" src="https://static.wikia.nocookie.net/batman/images/5/57/Thedarkknight17po4.jpg/revision/latest?cb=20120113141554" alt="">
<div>
    <p>
        The Batmobile is the fictional car driven by the superhero Batman. Housed in the Batcave,[1] which it accesses through a <br>
        hidden entrance, the Batmobile is both a heavily armored tactical assault vehicle and a personalized custom-built pursuit <br>
        and capture vehicle that is used by Batman in his fight against crime.[2] Using the latest civilian performance technology, <br>
        coupled with prototype military-grade hardware—most of which was developed by Wayne Enterprises—Batman creates an imposing <br>
        hybrid monster to prowl the streets of Gotham City.<br>
<br>
        The Batmobile first appeared in Detective Comics #27 (May 1939), where it was depicted as an ordinary-looking red car. <br>
        Its appearance has varied but, since its earliest appearances, the Batmobile has had a prominent bat motif, typically <br>
        including wing-shaped tailfins. Armored in the early stages of Batman's career, it has been customized over time and is <br>
        the most technologically advanced crime-fighting asset in Batman's arsenal. Depictions of the vehicle have evolved along <br>
        with the character, with each incarnation reflecting evolving car technologies.[3] It has been portrayed as having many<br>
        uses, such as vehicular pursuit, prisoner transportation, anti-tank warfare, riot control, and as a mobile crime lab. <br>
        In some depictions, the Batmobile has individually articulated wheel mounts and is able to be driven unmanned or can <br>
        be remotely operated. It has appeared in every Batman iteration—from comic books and television to films and video <br>
        games—and has since become part of popular culture.<br>
        <br>
        <br>
    </p>
</div>
{% endblock %}