{% extends 'third_app/index.html' %}

{% block title %}Joker{% endblock %}

{% block body %}
<h1 align="center">Jocker</h1>
<img width="300px" class="body_img" src="https://static.wikia.nocookie.net/villains/images/6/62/Tdk-may17-joker-poster-large.jpg/revision/latest?cb=20160624163810" alt="">
<div>
    <p>
        The Joker is a fictional character who appears in Christopher Nolan's 2008 superhero film The Dark Knight, <br>
        based upon the DC Comics character and supervillain of the same name. He was portrayed by Australian actor <br>
        Heath Ledger. A psychopathic criminal mastermind and mass murderer with a warped, sadistic sense of humor, <br>
        the Joker is hired by Gotham City's mob bosses to kill the vigilante Batman (Christian Bale), and also comes <br>
        into conflict with Batman's allies, Gotham police officer James Gordon (Gary Oldman) and district attorney <br>
        Harvey Dent (Aaron Eckhart). The Joker embodies themes of chaos, anarchy and obsession: throughout the film,<br>
        he expresses a desire to upset the social order in Gotham through crime, and defines himself by his conflict <br>
        with Batman.<br>
        <br>
        Ledger's interpretation of the Joker is specifically influenced by the graphic novels Batman: The Killing <br>
        Joke and Arkham Asylum: A Serious House on Serious Earth. In the film, he wears the character's traditional<br>
        purple and green color palette, while his facial appearance includes clown makeup that covers facial scars <br>
        of a Glasgow smile, and green hair. Ledger's Joker also explores techniques found in the actor's previous <br>
        performances, including his clown act in Terry Gilliam's fantasy film The Brothers Grimm, while also referencing <br>
        paintings by artist Francis Bacon, Anthony Burgess' novel A Clockwork Orange, and various punk rock musicians, <br>
        as well as a vocal style rumoured to be influenced by Tom Waits.[1]<br>
        <br>
        Ledger's casting as the Joker was initially controversial but it is now considered his finest performance; <br>
        Ledger himself regarded it as his most enjoyable. When the film was released in July 2008, six months after <br>
        Ledger died from an accidental overdose, the performance received universal acclaim and numerous posthumous <br>
        accolades, including the Academy Award for Best Supporting Actor. The character is widely considered to be one <br>
        of the greatest villains in film, as well as one of the most iconic interpretations of the Joker.<br>
        <br>
        <br>
    </p>
</div>

{% endblock %}